      <header class="header-wrapper clearfix">

        <div class="header animated slideDown headroom--top" id="header">
          <div class="container">
            <div class="mag-content">
              <div class="row">
                <div class="col-md-12">
                  <!-- Mobile Menu Button -->
                  <a class="navbar-toggle collapsed" id="nav-button" href="http://digitaltheme.co/html/admag/demo/index.php#mobile-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a><!-- .navbar-toggle -->

                  <!-- Main Nav Wrapper -->
                  <nav class="navbar mega-menu">
                    <a class="logo" href="http://digitaltheme.co/html/admag/demo/index.php" title="Admag - Responsive magazine HTML Template" rel="home">
                      AD <span>MAG</span>
                    </a><!-- .logo -->

                    <!-- Navigation Menu -->
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <!-- save1.html.erb -->
                        <%= render "save1" %>
                      </ul><!-- .nav .navbar-nav -->
                    </div><!-- .navbar-collapse -->
                    <!-- End Navigation Menu -->

                    <div class="header-right">
                      <div class="social-icons">
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <!-- Only for Fixed Sidebar Layout -->
                        <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="fixed-button navbar-toggle" id="fixed-button">
                          <i></i>
                          <i></i>
                          <i></i>
                          <i></i>
                        </a><!-- .fixed-button -->
                      </div><!-- .social-icons -->
                    </div><!-- .header-right -->
                  </nav><!-- .navbar -->

                  <div id="sb-search" class="sb-search">
                    <form>
                      <input class="sb-search-input" placeholder="Enter your search text..." type="text" value="" name="search" id="search">
                      <input class="sb-search-submit" type="submit" value="">
                      <span class="sb-icon-search fa fa-search" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search"></span>
                    </form>
                  </div><!-- .sb-search -->
                </div>
              </div>
            </div><!-- .mag-content -->
          </div><!-- .container -->
        </div><!-- .header -->
      </header><!-- .header-wrapper -->