  <nav id="mobile-nav" class="mm-menu mm-vertical mm-theme-dark mm-effect-slide mm-border-full mm-offcanvas mm-hassearch">
    <div class="mm-search">
      <input placeholder="Search" type="text" autocomplete="off">
    </div>
    <div class="mm-vertical mm-panel mm-opened mm-current" id="mm-1">
      <div class="mm-noresultsmsg">No results found.</div>
      <ul class="mm-listview mm-first mm-last">
        <li class="mm-vertical">
          <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-2" data-target="#mm-2"></a>
          <a href="http://digitaltheme.co/html/admag/demo/index.php">Home</a>
          <div class="mm-panel mm-vertical" id="mm-2">
            <ul class="mm-listview mm-vertical mm-first mm-last">
              <li>
                <a href="http://digitaltheme.co/html/admag/demo/index.php">Home - All Block</a>
              </li>
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-3" data-target="#mm-3"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Home - Grid Style</a>
                <div class="mm-panel mm-vertical" id="mm-3">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/grid_sidebar.php">With Sidebar</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/grid.php">No Sidebar</a></li>
                  </ul>
                </div>
              </li>
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-4" data-target="#mm-4"></a><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Home - Blog Style</a>
                <div class="mm-panel mm-vertical" id="mm-4"><ul class="mm-listview mm-vertical mm-first mm-last">
                  <li><a href="http://digitaltheme.co/html/admag/demo/blog_classic.php">Classic Blog</a></li>
                  <li><a href="http://digitaltheme.co/html/admag/demo/blog_modern.php">Modern Blog</a></li>
                </ul></div>
              </li>
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-5" data-target="#mm-5"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Home - Minimal Style</a>
                <div class="mm-panel mm-vertical" id="mm-5">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/minimal.php">2 Columns</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/minimal_sidebar.php">2 Columns With Sidebar</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/minimal_full.php">3 Columns</a></li>
                  </ul>
                </div>
              </li>
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-6" data-target="#mm-6"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Home - Fixed Sidebar</a>
                <div class="mm-panel mm-vertical" id="mm-6">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/fixed_left.php">Fixed Left Sidebar</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/fixed_right.php">Fixed Right Sidebar</a></li>
                  </ul>
                </div>
              </li>
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-7" data-target="#mm-7"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Home - 3 Different Columns</a>
                <div class="mm-panel mm-vertical" id="mm-7">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/left_big.php">Left Big Column</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/right_big.php">Right Big Column</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="mm-vertical">
          <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-8" data-target="#mm-8"></a>
          <a href="http://digitaltheme.co/html/admag/demo/grid.php">Tech</a>
          <div class="mm-panel mm-vertical" id="mm-8">
            <ul class="mm-listview mm-vertical mm-first mm-last">
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Reviews</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Apps</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Design</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Gadgets</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Mobile</a></li>
            </ul>
          </div>
        </li>

        <li class="mm-vertical">
          <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-9" data-target="#mm-9"></a>
          <a href="http://digitaltheme.co/html/admag/demo/minimal_blog.php">Lifestyle</a>
          <div class="mm-panel mm-vertical" id="mm-9">
            <ul class="mm-listview mm-vertical mm-first mm-last">
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Love</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Advice</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Food</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Travel</a></li>
              <li><a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Fashion</a></li>
            </ul>
          </div>
        </li>

        <li><a href="http://digitaltheme.co/html/admag/demo/blog_modern.php">Business</a></li>

        <li><a href="http://digitaltheme.co/html/admag/demo/header-style3.php">Entertainment</a></li>

        <li class="mm-vertical">
          <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-10" data-target="#mm-10"></a>
          <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Features</a>
          <div class="mm-panel mm-vertical" id="mm-10">
            <ul class="mm-listview mm-vertical mm-first mm-last">
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-11" data-target="#mm-11"></a>
                <a href="http://digitaltheme.co/html/admag/demo/index.php">Header Style</a>
                <div class="mm-panel mm-vertical" id="mm-11">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/index.php">Header Style 1</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/header-style2.php">Header Style 2</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/header-style3.php">Header Style 3</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/fixed_left.php">Header Style 4</a></li>
                  </ul>
                </div>
              </li><!-- .dropdown-submenu -->
              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-12" data-target="#mm-12"></a>
                <a href="http://digitaltheme.co/html/admag/demo/index.php">Footer Style</a>
                <div class="mm-panel mm-vertical" id="mm-12">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/index.php#footer">Footer Style 1</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/footer-style2.php#footer">Footer Style 2</a></li>
                  </ul>
                </div>
              </li><!-- .dropdown-submenu -->

              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-13" data-target="#mm-13"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Pages</a>
                <div class="mm-panel mm-vertical" id="mm-13">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/page.php">About Page</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/page_contact.php">Contact Page</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/page_author.php">Author page</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/page_tags.php">Tags page</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/page_search.php">Search page</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/page_404.php">404 page</a></li>
                  </ul>
                </div>
              </li><!-- .dropdown-submenu -->

              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-14" data-target="#mm-14"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Posts</a>
                <div class="mm-panel mm-vertical" id="mm-14">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_simple.php">Simple Post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_review.php">Review Post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_parallax.php">Parallax post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_fullwidth.php">Full Width Post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_fixed.php">Fixed Sidebar Post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_slider.php">Gallery Post</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/post_video.php">Video Post</a></li>
                  </ul>
                </div>
              </li><!-- .dropdown-submenu -->

              <li class="mm-vertical">
                <a class="mm-next" href="http://digitaltheme.co/html/admag/demo/index.php#mm-15" data-target="#mm-15"></a>
                <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Category Layouts</a>
                <div class="mm-panel mm-vertical" id="mm-15">
                  <ul class="mm-listview mm-vertical mm-first mm-last">
                    <li><a href="http://digitaltheme.co/html/admag/demo/blog_classic.php">Classic blog</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/blog_modern.php">Modern blog</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/grid_sidebar.php">Grid blog</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/minimal_blog.php">Minimal blog</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/fixed_blog.php">Fixed sidebar blog</a></li>
                    <li><a href="http://digitaltheme.co/html/admag/demo/big_blog.php">Left big column blog</a></li>
                  </ul>
                </div>
              </li><!-- .dropdown-submenu -->

              <li><a href="http://digitaltheme.co/html/admag/demo/page_typography.php">Typography</a></li>
              <li><a href="http://digitaltheme.co/html/admag/demo/page_shortcodes.php">Shortcodes</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </li>
      </ul>
    </div>
  </nav>