<div class="row">
  <div class="col-md-8 omega">
    <div class="featured-big">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="featured-href">
        <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/featured_thumb4.jpg" alt="" draggable="false">
        <div class="featured-header">
          <span class="category bgcolor2">Gadget</span>
          <h2>Audio Equalizer Apps Beyond the Smartphone Sound</h2>
          <p class="simple-share">
            by John Doe -
            <span class="article-date">25 minutes ago</span>
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4 alpha">
    <div class="featured-small featured-top">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="featured-href">
        <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/featured_thumb5.jpg" alt="" draggable="false">
        <div class="featured-header">
          <span class="category bgcolor3">Food</span>
          <h2>How to Make Japanese-style sushi?</h2>
          <p class="simple-share">
            by John Doe -
            <span class="article-date">4 hours ago</span>
          </p>
        </div>
      </a>
    </div>
    <div class="featured-small">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="featured-href">
        <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/featured_thumb6.jpg" alt="" draggable="false">
        <div class="featured-header">
          <span class="category bgcolor5">Photo</span>
          <h2>The 20 most important Instagram pictures</h2>
          <p class="simple-share">
            by John Doe -
            <span class="article-date">4 hours ago</span>
          </p>
        </div>
      </a>
    </div>
  </div>
</div><!-- .row -->