<article class="simple-post clearfix">
  <div class="simple-thumb">
    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb1.jpg" alt="">
    </a>
  </div>
  <header>
    <h3>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Audio Equalizer Apps Beyond the Smartphone Sound</a>
    </h3>
    <p class="simple-share">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Gadget</a> /
      by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">John Doe</a> -
      <span><i class="fa fa-clock-o"></i> 25 minutes ago</span>
    </p>
  </header>
</article>