<article class="widget-post clearfix">
  <div class="simple-thumb">
    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
      <span class="play-button"><i class="fa fa-play"></i></span>
      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb12.jpg" alt="">
    </a>
  </div>
  <header>
    <h3>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Asian Startup Companies Boom</a>
    </h3>
    <p class="simple-share">
      <span><i class="fa fa-eye"></i> 989,039 views</span>
    </p>
  </header>
</article>