<div class="widget-post clearfix">
  <div class="author-thumb">
    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/author1.jpg" alt="">
    </a>
  </div>
  <div>
    <h3>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">How to Buy the Right Headphones</a>
    </h3>
    <p class="simple-share">
      <span><i class="fa fa-clock-o"></i> 12 minutes ago</span>
    </p>
  </div>
</div>