<article class="widget-post clearfix">
  <div class="simple-thumb">
    <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
      <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/small_thumb17.jpg" alt="">
    </a>
  </div>
  <header>
    <h3>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">Nikon D5000 review: Design, Controls, Screen</a>
    </h3>
    <p class="simple-share">
      <span class="star-reviews">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </span>
    </p>
  </header>
</article>