<li>
  <article>
    <h3>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">What the Viny "Comeback" Really Looks Like</a>
    </h3>
    <p><span><i class="fa fa-clock-o"></i> 2 minutes ago</span></p>
  </article>
</li>