<div class="row">
  <div class="col-md-6">
    <article class="news-block small-block">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="overlay-link">
        <figure class="image-overlay">
          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb42.jpg" alt="">
        </figure>
      </a>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="category">
        Travel
      </a>
      <header class="news-details">
        <h3 class="news-title">
          <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
            6 Tips Before Traveling Internationally
          </a>
        </h3>
        <p class="simple-share">
          by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
          <span class="article-date"><i class="fa fa-clock-o"></i> 46 minutes ago</span>
        </p>
      </header>
    </article><!-- News block -->
  </div>

  <div class="col-md-6">
    <article class="news-block small-block">
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="overlay-link">
        <figure class="image-overlay">
          <img src="./ADMAG _ Responsive Blog & Magazine HTML Template_files/big_thumb43.jpg" alt="">
        </figure>
      </a>
      <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html" class="category">
        Advice
      </a>
      <div class="news-details">
        <h3 class="news-title">
          <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html">
            How To Be More Friendly And Social
          </a>
        </h3>
        <p class="simple-share">
          by <a href="./ADMAG _ Responsive Blog & Magazine HTML Template_files/ADMAG _ Responsive Blog & Magazine HTML Template.html"><b>John Doe</b></a> -
          <span class="article-date"><i class="fa fa-clock-o"></i> 2 hours ago</span>
        </p>
      </div>
    </article><!-- News block -->
  </div>
</div>